<form method="post" action="/articles">
  <label for="title"> Article Title:</label>
  <input type="text" id="title" name="title"><br/>
  <label for="content"> Article Content:</label>
  <input type="text" id="content" name="content"><br/>

  <button type="submit" value="submit">Submit</button>

</form>
