<h1><%= @article.title %></h1>
<p>
  <%= @article.content %>
</p>

<form action="/articles/<%= @article.id %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="delete" value="Delete Article">
</form>
