<form action="/articles/<%= @article.id %>" method="post">

    <input id="hidden" type="hidden" name="_method" value="patch">
    
    Title:  <%=@article.title %>    <input type="text" name="title" id="title">
    Content:  <%= @article.content%>  <input type="text" name="content" id="content">
    
    <input type="submit">

</form>