<h1>Edit Article <%= @article.id %></h1>

<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH" />

  <label for="title">Article Title: </label>
  <input type="text" name="title" id="title" value="<%=@article.title %>" /> <br />

  <label for="content">Type Your Story: </label>
  <input type="text" name="content" id="content" value="<%=@article.content %>" /> <br />

  <button type="submit" id="submit">Submit</button>
</form>
