<!DOCTYPE html>
    <head>
    </head>

    <body>
        <form method="POST" action="/articles/<%= @article.id %>">
        <input id="hidden" type="hidden" name="_method" value="PATCH"> 

        <label for="title">Title:</label>
        <input type="text" id="title" name="article[title]" value="<%= @article.title %>"><br><br> 

        <label for="content">Content:</label> 
        <textarea name="article[content]" id="content" rows="20" cols="80"><%= @article.content %></textarea><br><br>

        <button type="submit" value="submit">Submit</button>
        
        </form>
    </body>

</html>