<h1>Edit <%= @article.title %>:</h1>
<p>Original Content: <%= @article.content %></p>

<h2>Updates:</h2>
<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    
    <label for="title">Title:</label>
    <input type="text" name="title">
    <br>

    <label for="content">Content:</label>
    <input type="text" name="content">
    <br>
    
    <button type="submit" value="submit">Submit</button>
</form>