<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  Article Title: <input type="text" id="title" name="title" value="<%= @article.title %>"><br>
  Article Content: <input type="text" id="content" name="content" value="<%= @article.content %>"><br>
  <button type="submit" value="submit"  id="submit">Submit</button>

</form>

