<form action="/article/<%=@article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="">Update Title:</label>
  <input type="text" name="title" value="new title">
  <label for="">Update Content</label>
  <input type="text" name="content" value="new content">
  <input type="submit" id="submit">
</form>
