<!DOCTYPE html>
<html>
  <head>
    <title>Edit your article</title>
  </head>

  <body>
    <form method="POST" action="/articles/:<%= @article.id %>">
      <input type="hidden" id="hidden" name="_method" value="patch" /></p>
      <br>
      <p><label for="title">Title:</label>
      <input type="text" id="title" name="article[title]" value="<%= @article.title %>" /></p>
      <br>
      <p><label for="content">Content:</label></p>
      <textarea type="text" id="content" name="article[content]" value="<%= @article.content %>" ></textarea>

      <input type="submit" id ="submit" value="Submit">

    </form>
  </body>
</html>
