<html>
    <head>
        <title>Update Article Form</title>
        <style>
            form {
                border: 2px solid #555;
                border-radius: 10px;
                width: 40%;
                text-align: center;
                box-shadow: -1px 1px 1px #333, -2px 2px 2px #222, -3px 3px 3px #111, -4px 4px 4px #000;
                margin: 10px auto;
            }
        </style>
    </head>
    <body>
       <h1>Update article</h1>
       <h3>Article Title:</h3>
       <p><%=@article.title%></p>
       <h3>Article Content:</h3>
       <p><%=@article.content%></p>
        <form action="/articles/<%=@article.id%>" method="post">
            <h2>Update Form</h2>
            <input type="hidden" name="_method" id="hidden" value="PATCH">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="content">Content:</label>
            <textarea name="content" id="content" cols="10" rows="10"></textarea>
            <input type="submit" value="Update">
        </form> 
    </body>
</html>
