<h1> Change this Puppy</h1>
<form action="/articles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
<p>Edit the Title</p>
<textarea name="title" rows="1" cols="25"><%= @article.title %></textarea>
<p>Edit the Content:</p>
<textarea name="content" rows="30" cols="75"><%= @article.content %></textarea>
<input type="submit" id="submit"/>
</form>
