<form action="/articles/<%=@articles.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH">
Title:<input  id="title"  type="text" name="article[title]" value="<%=@articles.title%>">
Content:<input type="text" id="content" name="article[content]" value="<%=@articles.content%>">
<input type="submit" value="Update Article">
</form>