<form action='/articles/<%= @article.id %>' method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
        <label for="title">Title</label>
        <input id="title" type="text" name="article[title]" value="<%= @article.title %>" /><br>
        <label for="content">content</label>
        <textarea id="content" type="text" name="article[content]" value="<%= @article.content %>"><br>
        </textarea>
    <input type="submit" value="Submit" />
</form>