<h1>Edit Your Article!</h1>

<form action="/articles/<%=@article.id%>" method="post">
   <input id="hidden" type="hidden" name="_method" value="patch">
  Title: <input type="text" name="title" value="<%=@article.title%>">
  Content: <textarea name="content"> <%=@article.content%></textarea>
  <input type="submit" value="Edit Post">
</form>
