<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form" action="/articles/<%= @article.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
      <label for="title">Title:<input type="text" name="title" value="<%= @article.title %>" id="title"></label>
      <label for="content">Content:<input type="text" name="content" value="<%= @article.content %>" id="content"></label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
