<form action="/articles/<%= @article.id %>" method="/post">
<p>Title: <input type="text" name="title" id="title" value="<%= @article.title %>"</p>
<p>Content:</p>
<textarea name="content" id="content" rows="30" cols="30">
<%= @article.content %>
</textarea>
<input id="hidden" type="hidden" name="_method" value="PATCH">
<input type="submit" id="submit">
</form>