<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH" >


  <label> Article Title: </label>
    <input type="text" id='title' name="article[title]" value="<%= @article.title%>"><br><br>


  <label> Article Content: </label>
    <input type="text" id="content" name="article[content]" value="<%= @article.content"><br><br>


  <input type="submit" id="Submit" name="submit">
</form>
