<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method"
    value="patch">
    Existing Article Title: <%= @article.title %> <br>
    Existing Article Content: <%= @article.content %> <br> <br>

    Enter a New Title: <input type="text" name="title"> <br>
    Enter New Content: <input type="text" name="content">
    <input type="submit" id="submit">
</form>