<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  
  <label for="title">Title: <%= @article.title %></label>
  <input type="text" name="title">
  
  
  <label for="content">Content: <%= @article.content %></label>
  <input type="text" name="content">
  
  <input type="submit" value="Submit">
  
  
</form>

