<form method="POST" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Title: <input type="text" name="title"><%= @article.title %></p>
  <p>Content: <input type="text" name="content"><%= @article.content %></p>
  <input type="submit" value="submit">
</form>