<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Title: <input type="text" value="<%= @article.title %>" name="title"></p>
  <p>Contents: <input type="text" value="<%= @article.content %>" name="content"></p>
  <input type="submit" value="Submit">
</form>
