<DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>Edit Article: <%= @article.title %></h1>
      <form method="POST" action="/articles/<%=@article.id%>">
         <label for="[title]">New Article Title: </label>
            <input type="text" name="[title]" id="title" value="<%=@article.title%>">

         <label for="[content]">New Article Content: </label>
            <input type="text" name="[content]" id="content" value="<%=@article.content%>">

            <input type="submit" value="Submit" id="submit">

            <input id="hidden" type="hidden" name="_method" value="PATCH">
      </form>
   </body>
</html>