<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flatiron Magazine</title>
  </head>
  <body>
    <h1> Articles </h1>
    <% @articles.each do |article| %>
        <li>
          <a href="/articles/<%=article.id%>">
            <%= article.title %> 
          </a>
        </li>
   <% end %>

  </body>
</html>