<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <title>Index</title>
  </head>
  <body>
    <ul>
      <% @articles.each do |art| %>
      <li><a href="/articles/<%= art.id %>"><%= art.title %></a></li>
      <% end %>
    </ul>
  </body>
</html>