<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Magazine Archives</title>
  </head>
  <body>
    <h1>Archives</h1>

    <ul>
    <% @articles.each do |article| %>
      <li><a href='/articles/<%= article.id %>'>
          <%= article.title %> </a></li>
    <% end %>
    </ul>

  </body>
</html>
