<!-- shows a list of all of the articles -->
<!-- iterate over @articles to render them on the page -->
<h1>Select an article to view to below:</h1>
<div class="articles">
<% @articles.each do |article| %>>
<h2><%= article.title %></h2>
<h3><%= article.content %></h3>
<% end %>
</div>

<!-- Another way to write this -->
<!-- <ul> 
<% @articles.each do |article| %>
<li><%= article.title%></li>
<li><%= article.content%></li>

<% end %>

</ul> -->