<h1>Submit your form here!</h1>

<form method="POST" action="/articles">
Article Title: <input type="text" name="title" id='title'>
Content: <input type="text" name="content" id='content'>
<input type="submit" id="Submit">
</form>