<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
  </head>
  <body>
    <h1>Enter a New Post</h1>
    <form action="/posts" method="post">
      <label for="name"> Post Name: </label> <input type="text" id="name" name="post[name]">
      <label for="content"> Post Content: </label> <input type="text" id="content" name="post[content]">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
