<h1>Creating article</h1>
<form method='POST' action='/articles'>
  <div>
    <p>Title: <input type="text" name="title"></p>
  </div>
  <div>
    <p>Content: <input type="text" name="content"></p>
  </div>
  <input type="submit" id="submit">
</form>