<form action="/articles" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title" id="title">
  
  <label for="content">Content:</label>
  <input type="text" id="content" name="content">
  
  <input type="submit" value="submit">
</form>