<html>
  <body>
    <form action="/articles" method="POST">
      <label for="text"> Title: </label>
      <input type="text" name="title">
  
      <label for="content"> Content: </label>
      <input type="text" name="content">
  
      <input type="submit" id="submit" name="Submit">
    </form>
  </body>
  </html>