<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Article</title>
    </head>
    <body>
        <h1>Create a Article!</h1>
        <form action="/articles" method="post">
            Article Name: <input id="title" type="text" name="title"><br>
            Article Content: <input id="content" type="text" name="content"><br>
            <input id="Submit" type="submit" value="submit">
        </form>
    </body>
</html>