<h1>New Article Page</h1>

<h2>Add an Article</h2>
<form method="post" action="/articles">
    <p><label for="title">Article Title: </lable>
    <input type="text" id="title" name="title"></p>
    
    <p><label for="content">Article Content: </lable>
    <input type="text" id="content" name="content"></p>

    <p><input type="submit" id="submit" value="Submit"></p>    
</form>