<form method="POST" action="/articles">
  <label for="title">Title:</label>
  <br>
  <input type="text" name="title" id="title">
  <br>
  <label for="content">Content:</label>
  <br>
  <textarea type="text" name="content" id="content" rows="8" cols="80"></textarea>
<button type="submit" value="submit">Submit</button>
</form>
