<h1>Create a New Article</h1>

<form action='/articles' method='POST'>
<label for='Article Title'>Article Title: </label>
<input type='text' id='title' name='title'>

<label for='Article Content'>Article Content: </label>
<input type='text' id='content' name='content'>

<input type='submit' id='submit' value='submit'>
</form>