<form action='/articles' method='post'>
    <p>Title:<input id='title' name='title' type='text'>
    <p>Content:<input id='content' name='content' type='text'>
    <input value="Submit" type="submit">
</form>