<DOCTYPE html>
<html>
   <head>
   </head>
   <body>
      <h1>Create a New Article</h1>
      <form method="POST" action="/articles">
         <label for="[title]">Article Title: </label>
            <input type="text" name="[title]" id="title">
         <label for="[content]">Article Content: </label>
            <input type="text" name="[content]" id="content">

            <input type="submit" value="Submit" id="submit">
      </form>
   </body>
</html>