<form action="/articles" method="post">
    <input type="text" name="title"> <=% @title %> </input>
    <input type="text" name="content">
    <input type="submit" value="submit" id="submit">
</form>

<!-- <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" ...> -->
