<h1>Create a new article</h1>

<form action="/articles" method="POST">
  <label for="title">Article Title: </label>
  <input type="text" name="title" id="title" /> <br />

  <label for="content">Type Your Story: </label>
  <input type="text" name="content" id="content" /> <br />

  <button type="submit" id="submit">Submit</button>
</form>
