<!DOCTYPE html>
<html>
  <head>
    <title>Your article</title>
  </head>

  <body>
    <form method="POST" action="/articles">
      <h1>Add your article</h1>
      <p><label for="article">Your article:</label>
      <input type="text" id="article" name="article" /></p>
      <br>

      <input type="submit" id ="submit" value="Submit">

    </form>
  </body>
</html>
