<form action='/articles' method='post'>
	<label for='title'>Title:</label>
	<input name="title" type="text">
	<label for='content'>Content:</label>
	<input name="content" type="text">
	<input type="submit">
</form>