<form method="POST" action="/articles">
    <label for="title">Article Title: </label>
    <input type="text" id="title" name="title" placeholder="Enter Article Title Here">

    <label for="content">Article Content: </label>
    <textarea name="content" id="content" placeholder="Enter Article Content Here">

    <input type="submit" value="Submit">
</form>