<form action="/articles/new" method="POST">
  <p>Article Title: <input type='text' name='title'/></p>
  <p>Type your article here:</p>
  <input type="textarea" name="content"/>
  <input type="submit" name="submit"/>
</form>
