<form method="post" action="/articles">
<label for="title">Title:</label> 
<input type="text" name="articles[title]">

<label for="content">Content:</label> 
<input type="text" name="articles[content]">

</form>