<!DOCTYPE html>

<html>

    <head>
        <title>Articles New</title>
    </head>

    <body>

        <h1>Article</h1>

        <form action="/articles" method="POST">
        
            <label>Article Title</label>
            <input type="text" name="article[title]"/>
            <br>
            <br>
            <label>Artcile Message</label>
            <input type="text" name="article[content]"/>
        
            <input type="submit">
            </form>

    </body>

</html>