<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <title>New Article</title>
  </head>
  <body>
    <h1>Create a new article</h1>
    <form action="/articles" method="post">

      <p>Title:<input id="title" type="text" name="title"></p>
      <p>Content: </p><textarea id="content" type="text" name="content" rows="4" cols="50">
        Enter Content here!
      </textarea>
      <input type="submit">
    </form>
  </body>
</html>