<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>new_article</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <label for="article_title">Title of your new article:</label>
      <input type="text" id="article_title" name="title">
      <label for="article_content">Your content here:</label>
      <input type="text" id="article_content" name="content">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>