<h2>Your New Article: </h2>
<form action="/articles" method="POST">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <input type="submit" value="Submit">
</form>
