<body style="font-size:18;">

<form method=post action=/articles id="userform">
<p>
    <label for="title"> Article Title</label>
    <input type="text" id="title" name="title">
    <button type="submit" value="submit">Submit</button>
</p>
</form>
<p>
    <label for="content"> Content</label>
</p>
    <textarea  rows="4" cols="50" id="content" name="content" form="userform">Enter content here...
    </textarea>
</body>
