<form action="/articles" method="post">
    <h2>Title: <input type="text" id="title" name="title"></h2>

    <p>Content: <input type="text" id="content" name="content"></p>

    <input type="submit">
</form>