# This view will be a blank form that should submit a POST request to /articles

<form method="POST" action="/articles">
  <p><input type="text" name="title"></p>
  <p><input type="text" name="title"></p>
  <input type="submit" name="submit" value="submit">
</form>