

<form action="/articles/:id" method="post">
    Title: <input id ="1" type="text" name="title">
    Content: <input id ="1" type="text" name="content">
    id: <input id ="1" type="text" name="id">
    <input id="submit" name="Submit" type="submit">
</form>