<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Magazine</title>
  </head>
  <body>
    <form action='/articles' method='POST'>
      <p>
        <label for='title' id='title'>Title:</label><input type='text' name='title'></br>
        <label for='content' id='content'>Content:</label></br>
        <textarea name='content' cols='25' rows='10'></textarea>
      </p>
      <input type='submit' id='submit'>
    </form>
  </body>
</html>
