<form method="post" action="/articles">  
  Article Title: <input id="title" type="text" name="title"><br>
  Article Content: <input id="content" type="text" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>