<form action='/articles' method="post">
    Title: <input type="text" id="title" name="title"><br>
    Content: <input type="textarea" id="content" name="content"><br>
    <input type="submit" id="submit">
</form>