<form method="POST" action='/articles'>
    Enter article title: <input type="text" name="title"> <br>
    Enter article content: <input type="text" name="content">
    <input type="submit" id="submit">
</form>