<h1> New Articles</h1>
<form action='/articles' method="post">
Title: <input type="text" name="article[title]" id="title">
Content: <input type="content" name="article[content]" id="content">
<input type="submit" id="submit">
</form>