<form action = "/articles" method = "post">

<ul>
    <li>
        <label for='title'>TITLE</label>
        <input id='title' type='text' name='title'/>
    </li>
    <li>
        <label for='content'>CONTENT</label>
        <textarea id='content' type='text' name='content' />
    </li>
</ul>

<input type='submit' />

</form>