<h1>Create a New Article:</h1>
<form action='/articles' method='POST'>
<p>Title: <input id='title' type='text' name='title'></p>
<p>Content: <input id='content' name='content'>
<button id='submit' type='submit'>Submit</button>
</form>
