<form action="/articles/new" method="POST">
  <label> Article Title
    <p><input type="text" id="title" name="article[title]"></p>
  </label>
  <label> Article Content
    <p><textarea type="text" id="content" name="article[content]" placeholder="Enter Your Content Here."></textarea>
    </p>
  </label>
  <input type="submit" value="submit" id="submit"/>
</form>