<form method="post" action='/articles'>
Title: <input type="text" id="title" name="title">
<br>
Content: <textarea id="content" name="content"></textarea>
<button type="submit" id="submit">Submit</button>


</form>
