<form action="/articles" method="POST">
    <label>Title: </label>
    <input id="title" type="text" name="title"><br>
    <label>Content: </label>
    <input id="content" type="text" name="content"><br>

    <button type="submit" value="submit">Submit</button>
</form>