<form method="post" action="/articles">  
  Article Title: <input type="text" name="article[title]"><br>
  Article Content: <input type="text" name="article[content]"><br>
  <button type="submit" value="submit">Submit</button>
</form>