<form action="/articles" method ="POST">
  <h1>Article Title: <input type="text" name="title"></h1>
  <h1>Article Content: <input type="text" name="content"></h1> 
  <input type="submit" id="Submit">
</form>