<form method ="POST" action="/articles">
<label for="title">Title:</label>
<input id="title" name="title" type="text">

<label for="Content">Content:</label>
<textarea id="content" name="content">Your article here</textarea>
<input type="submit" value="Submit">
</form>
