  <form action="/articles" method="post">
      Article Title: <input id="title" type="text" name="title"><br>
      Article Content: <input id="content" type="text" name="content">

      <br>
      <input type="submit" id="submit" value="Submit">
    </form>
