
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="form" action="/articles" method="post">
      <label for="title">Title:<input type="text" name="title" id="title"></label>
      <label for="content">Content:<input type="text" name="content" id="content"></label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>