<form method="post" action="/articles">  
    <input id="hidden" type="hidden" name="_method" value="patch">
  Article Title: <input type="text" name="title"><br>
  Article Content: <input type="text" name="content"><br>
  <button type="submit" value="submit">Submit</button>
</form>