
    <form method='POST' action='/articles'>
    <h1>Create a New Article</h1>

    <label for='title'>Title: <input type='text' name='title'></label><br>

    <label for='content'>Content: <br><textarea name='content' rows="4" cols="50"></textarea>></label>
    <input type='submit' value='submit'>
</body>
