<h1>Submit a new article!</h1>
<form method="POST" action="/articles">
<label for="title">Title</label><br>
<input type="text" id="title" name="title"><br>
<label for="content">Content:</label><br>
<textarea type="text" id="content" name="content" rows="4" cols="50">
</textarea>
<input type="submit" type="Submit">
</form><%# because this is being posted on line 1 we will be redirected to post '/articles' %>