<h1>Create an Article: </h1>

  <form action='/articles' method='POST'>
    <label>Article Title: <br><input type='text' name='title'></label><br>
    <br>
    <label>Article Content: <br><input type='text' name='content'></label><br>
    <br><input type="submit" value="create">
  </form>
