<h1>Enter new article here:</h1>

<form method="POST" action="/articles">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title"><br>
    
    <label for="content">Content:</label>
    <textarea id="content" type="text" name="content" placeholder="enter content here"></textarea><br>

    <input type="submit" value="Submit" id="submit">
</form>    