<DOCTYPE html>
  <html>
  <body>
    <h1>Create a new article</h1>
    <form method="POST" action="/articles">
    <p>New Article Title: <input type="text" name="title" id="title"></p>
    <p>New Article Content: <input type="text" name="content" id="content"></p>
    <input type="submit" id="submit">
  </form>
  </body>
  </html>
