<!-- blank form that should submit a Post request to /articles -->
<form method="POST" action="/articles">
<input type="text" name="title">
<input type="text" name="content">
<input type="submit" value="Submit">
</form>

<!-- Another way to write this -->
<!-- <form action="/articles" method="post">
  <label>Title:</label>
  <input type="text" id="title" name="title" >

  <label>Content:</label>
  <input type="text" id="content" name="content" >

<input type="submit" name="submit" id="submit" >
</form> -->