<form method="post" action="/articles">
  <p><label for="article[title]">Title: </label><input type="text" id="article[title]" name="article[title]"></p>
  <p><label for="article[content]">Content: </label><textarea id="article[content]" name="article[content]"></textarea></p>
  <input type="submit" id="submit">
</form>
