<form action="/articles" method="post">
    <input type="text" name="title">  </input>
    <input type="text" name="content">  </input>
    <input type="submit" value="submit" id="submit">

</form>





<!-- <input id="hidden" type="hidden" name="articles" value="patch">
  <input type="text" ...> -->
