

<body>
  <h1>This is our articles Form</h1>
  <form method="POST" action="/articles">
    <label for="tytle">Title:</label><input type="text" id="tytle" name="title"><br>
    <label for="kontent">Title:</label><textarea id="kontent" name="content"></textarea>
    <button type="submit">submit</button>
  </form>
</body>
