<h1>New Article</h1>
<form action="/articles" method="POST">
	Title: <input type="text" input id = "title" name="article[title]"><br>
	Content: <input type="text" input id = "content" name="article[content]"><br>
	

	<input type="submit" id="submit" value="Submit">
</form>