<form action='/articles' method='POST'>
<h1>Write an Article!</h1>
<label>Title:</label>
<input type="text" id="title" name="title"> <br> <br>
<label>Content:</label>
<input type="text" id="content" name="content">
<input type="submit">
</form>