<h1>New Article Entry</h1>
<form action="/articles" method="POST">
    <h2><label for="article_title">Article Title:</label></h2>
    <p><input type="text" name="title" id="article_title"></p>
    <h2><label for="article_content">Article Content:</label></h2>
    <p><textarea name="content" id="article_content" rows="10" cols="50"></textarea></p>
    <input type="submit">
</form>