<form method = "POST" action ="/boards">
    <ul>
        <li>
            <label for="name">Name Your Board: </label>
            <input id="name" type="text" name="name"/>
        </li>
    </ul>
    <input type="submit"/>
    </form>
