<form action='/articles' method='post' >
<label for="title">Title</label><br>
<input type="text" id="title" name="title"><br>
<label for="content">Content:</label><br>
<textarea type="text" id="content" name="content" rows="4" cols="50">
</textarea>
<input type="submit" type="Submit">
</form>