<h3><%= @article.title %></h3>
<p><%= @article.content %></p>

<form method="POST" action="/articles/<%= params["id"] %>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>