<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
   <%= @article.title %>
  <%= @article.content %>
  <br></br>
  
  
  
    <form method="post" action="/articles/<%=@article.id%>">
      <input type="submit" name="_method" id="submit" value="DELETE">
    </form>
  </body>
</html>
