<h1>Title: <%= @article.title %></h1>
<p>Content: <%= @article.content %></p>

<form action="/aritcles/<%= @article.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE"/>
  <input type="submit" id="submit" value="delete">
</form>