<h1>Article No. <%= @article_id %></h1>

<h3> <%= @article.title %> </h3>
<p> <%= @article.content %> </p>

<form method="post" action="/articles/<%= @article.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Article">
</form>