<!DOCTYPE html>
<html>
  <head>
    <title>Your article</title>
  </head>

  <body>
      <h1>Your article</h1>
      <h3><%= @article.title %></h3>
      <h3><%= @article.content %></h3>

      <form method="POST" action="/articles/<%= @article.id %>">
        <input type="hidden" id="hidden" name="_method" value="DELETE" /></p>

        <input type="submit" id ="submit" value="Delete">

      </form>

  </body>
</html>
