<h1><strong><%= @article.title %></strong></h1>
<p><%= @article.content %></p>
<br>
<form action="/articles/<%= @article.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" name="submit" value="delete">
</form>