<h1><%= @article.title %></h1><br>
<h3><%= @article.content %></h3>

<form method="post" action="/articles/<%= @article.id %>"> #This code is placed here to delete our article.
  <input type="hidden" name="_method" value="delete">
  <input type="submit">
</form>
