<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <form action="/articles/<%= @id %>" method="post">
    <h2><%= @title %></h2>
    <p><%= @content %></p>
 </form>
 
 
 <form action="/articles/<%= @id %>" method="post">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete">
 </form>
</html>