<h1><%= @article.title %> </h1>

<p><%= @article.content %> </p>

<form method='post' action="/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<button type="submit" value="delete">Delete</button>
</form>