<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/articles">home</a>
    <h1>Article number <%= @article.id %></h1>
    <h2><%= @article.title %></h2>
    <p><%= @article.content %></p>
    <form class="form" action="/articles/<%= @article.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </body>
</html>