<h2> Here is Your Article: </h2>

<p><u> Article <%= @article.id %>:</u></p>
<p>Title: <%= @article.title %></p>
<p>Content: <%= @article.content %></p>

<form method="post" action="/articles/<%= @article.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
