<h1><%=@new_article.title%></h1>
<p><%=@new_article.content%></p>
<form method="post" action="/articles/<%=@new_article.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
