<h1>This is article <%= @article.id %></h1>
<h2>Title: <%= @article.title %></h2>
<h2>Content: <%= @article.content %></h2>

<form method="POST" action="/articles/<%= @article.id %>">
    <input name="_method" value="delete" type="hidden" id="hidden">
    <input type="submit" value="Delete!">
</form>