<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<form method="post" action="/articles/<%= @article.id %>/delete">
  <input value="delete" id="hidden" type="hidden" name="_method">
  <input type="submit" value="Delete">
</form>
